	<tr class="reportTableDataRow{_evenrow_}">
		<td class="reportTableDataNumber">{_rowcount_}</td>
		<td class="reportTableDataNumber">{handcombotxt} {suitedstscd}</td>
		<td class="reportTableDataNumber">{cttimes}</td>
		<td class="reportTableDataNumber">{pctwinamt}</td>
		<td class="reportTableDataNumber">{sumtotalwin}</td>
		<td class="reportTableDataNumber">{netwinamt}</td>
		<td class="reportTableDataNumber">{avgwinamt}</td>
		<td class="reportTableDataNumber">{avgbbperhand}</td>
		<td class="reportTableDataNumber">{ctblindtimes}</td>
		<td class="reportTableDataNumber">{pctvoluntarymoneyinpot}</td>
		<td class="reportTableDataNumber">{pctmoneywonnoflop}</td>
		<td class="reportTableDataNumber">{pctpreflopraise}</td>
		<td class="reportTableDataNumber">{pctraisefirstin}</td>
		<td class="reportTableDataNumber">{pctwenttoshowdown}</td>
		<td class="reportTableDataNumber">{pctwonshowdown}</td>
	</tr>