	<tr class="reportTableDataRow{_evenrow_}">
		<td class="reportTableDataNumber">{_rowcount_}</td>
		<td class="reportTableDataString">{playernm}</td>
		<td class="reportTableDataNumber">{cttourneynum}</td>
		<td class="reportTableDataNumber">{totaltourneycost}</td>
		<td class="reportTableDataNumber">{sumwinningamt}</td>
		<td class="reportTableDataNumber">{netwinningamt}</td>
		<td class="reportTableDataNumber">{pctreturnoninv}</td>
		<td class="reportTableDataNumber">{numtimesinmoney}</td>
		<td class="reportTableDataNumber">{pcttimesinmoney}</td>
		<td class="reportTableDataNumber">{avgnumplayers}</td>
		<td class="reportTableDataNumber">{ct1stplace}</td>
		<td class="reportTableDataNumber">{ct2ndplace}</td>
		<td class="reportTableDataNumber">{ct3rdplace}</td>
		<td class="reportTableDataNumber">{ctsatelliteseat}</td>
	</tr>